

/* ************************************************
   ********************PADRAO**********************
   ************************************************ */
   
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay-1{
    -webkit-transition-delay: 1s;
    
}
.delay-2{
    -webkit-transition-delay: 2s;
    
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
   
   
.body-default{
    margin: 0 0 0 0;
}

frame{
    scrolling :no;
}
h1{
    font-family: "Arial", verdana, sans-serif;
    font-size: 2em;
    margin: 1em 0 2em 0;
}

h2{
    font-family: "Arial", verdana, sans-serif;
    font-size: 1.5em;
    margin: 1em 0 1em 0;
}

.pages{
    float: right;
    /* margin-right: 110px; */
    font-family: verdana, sans-serif;
}
h3{
    font-family: "Arial", verdana, sans-serif;
    font-size: 1em;
    margin: 2em 0 .1em 0;
}
body{
    background-image: url('../../images/barra2.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right -144px;
    margin: 0 0 0 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}
embed{
    margin:  0;
}
.author{
    margin: 0;
}

.img{
    max-width: 100%;
    height: auto;
}

.img-logo{
    width: 834px;
    max-width: none;
}

a{
    font-family: "Arial", verdana, sans-serif;
    text-decoration: none;
}

.title{
    text-align: center;
}

/* ************************************************
   ********************MENU************************
   ************************************************ */

.nav-bar{
    background-image: url('../../images/fundo-nav.jpg');
    background-repeat: repeat-y;
    background-size: contain;
}

#headbar{
background-image: url('../../images/barra1.jpg');
background-repeat: no-repeat;
background-position: right;
background-size: contain;
}

.nav-bar a{
    color: #ffffff;
}

.nav-bar a:hover{
    color: #DDDDDD;
}

a{

}

a:hover{
    color: #000000;
}

.nav-bar ul{
    list-style-type: none;
    padding: 5px 5px 5px 0;
}

.nav-bar li{
    /* font-family: Arial, Helvetica, Arial, sans-serif; */
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 2px 10px 16px 10px;
}

/* ************************************************
   ********************INDEX***********************
   ************************************************ */

.sponsor-index {
    position: relative;
    /* left: 400px; */
    /* display: inline-block; */
    opacity: 1;
    -wenkit-transition-delay: 2s;
    transition-delay: 2s;
    text-align: center;
    clear: both;
}

.img-sponsor {
    /* padding-right: 75px; */
    /* position: relative; */
    /* top: 30px; */
    display: inline-block;
}

.rio-index{
    display: block;
    width: 100%;
}

.rio {
    position: relative;
    /* right: 91px; */
    /* float: right; */
    width: 104%;
    right: -4%;
    left: 0;
}


.text-right{
    text-align: right;
}

.transition{
    width: 100%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    opacity: 0;
}


.logo {
    /* float: left; */
    margin: 0 0 0 0;
}

.logo-index p {
    font-family: "Arial", verdana, sans-serif;
    line-height: 1.5em;
    margin: 5em 0 2em 2em;
    display: inline-block;
    font-size: 28px;
}

.logo-index {
    margin-left: 7%;
    opacity: 1;
}

.img-rio-index{}

.title-index{
    font-family: "Arial", verdana, sans-serif;
    color: #828080;
    font-weight: bold;
    font-size: 24px;
}

/* ************************************************
   ********************INTERNAS********************
   ************************************************ */

#copyright {
    padding: 0 10em 0em 7em;
}

.author-index {
    background-color: #385797;
    text-align: center;
    padding: 0 10px;
    /* width: 80%; */
    /* margin-left: 80px; */
}
.author-index a{
    color: #D3D1D1;
    font-size: 1.3em;
    display: inline-block;
    padding: 10px 7px;
    margin-left: -0.2em;
}
.author-index a:hover{
    /* font-size: 1.5em; */
    background-color: rgb(98, 129, 196);
    color: #fff;
}
.author-name{
    font-size: 1.2em;
    font-weight: bold;
 }

.author-link{
    /* font-size: 1.2em; */
}

.formText{
    font-family: "Arial", verdana, sans-serif;
}

.content-session{
    /* margin-left: 10px; */
}


.page-margins{
    
    padding: 20px 130px 20px 20px;
    
}

.content-session a{
    /* border-top: #eee solid 1px; */
    /* display: block; */
    /* margin-top: 10px; */
    /* padding-top: 10px; */
}


.list-item{
    padding: 10px 10px;
    border-bottom: #eee solid 1px;
    margin-left: -10px;
}
.list-item:hover{
    background-color: #FCFBF0;
}


.go-top:link,
.go-top:visited{
    float: right;
    font-size: 12px;
    color: #999;
}
.go-top:hover{
    color: blue;
}



select{
    padding: 6px;
    width: 100%;
}